#ContenedorProductos,
.itemCarrito {
    display: flex;
    flex-wrap: wrap;
}

.Producto {
    height: 350px;
    width: 350px;
}

img {
    width: 265px;
    height: 265px;
}

.pocasUnidades {
    background-color: blue;
}

h6 {
    display: initial;
}

#contenedorCarrito {
    border: 2px solid black;
    min-height: 100px;
}

.itemCarrito * {
    margin: 5px;
}